<h4 class="title">Add Contacts</h4>
 <form ng-submit="addContact(contact, contactId)">
      <p class="control">
     <input type="text" placeholder="Name"
            ng-model="contact.name" />
   </p>
   <p class="control">
     <input type="text" placeholder="Phone"
            ng-model="contact.phone" />
   </p>
   <p class="control">
     <input type="text" placeholder="email"
            ng-model="contact.email" />
   </p>
    <p class="control">
     <input type="text" placeholder="City"
            ng-model="contact.city" />
   </p>
     <p class="control">
     <input type="text" placeholder="State"
            ng-model="contact.state" />
   </p>
   <p class="control">
     <input type="text" placeholder="contactId"
            ng-model="contactId" />
   </p>
   <p class="control">
     <button class="button is-primary">Create</button>
   </p>
 </form>
